
/*body header{
    margin-top: 30px;        
}
body header nav div{
    display: flex;
    align-items: center;

}
body header nav div section.header-logo{
    width: 500px;       
    margin-left: 20px;
}
body header nav div section.header-logo img{
    width: 350px;
    object-fit: contain;
}
body header nav div section.header-input div.header-input-container{   
    margin-left: 250px;
}
body header nav section.header-buttons {
    text-align: center;
    display: flex;    
    justify-content: center;    
    align-items: center;
    
}*/
.container-fluid{
    padding-top: 7px;
}

.affix {
    top: 0;
    width: 100%;
    z-index: 9999 !important;
  }

.affix + .container-fluid {
    padding-top: 70px;
}
.navbar{
    background-color: #ff9f1c;
    display: block;
    text-align: center;
    font-size: 17px;
    font-family: monospace,monaco,helvética
}
.navbar .nav li.active a{
    background-color: #e28400;
    color: black;
}
.navbar .nav li.active a:hover{
    background-color: #ffad3b;
    color: white;
}
.navbar .nav li a{
    background-color: #ff9f1c;
    color: black;
}
.navbar .nav li:hover{
    background-color: #ffad3b;
}
