body{
    background-color: #e9ecef;   
}

.container-fluid{
    padding-top: 7px;
}

.affix {
    top: 0;
    width: 100%;
    z-index: 9999 !important;
  }

.affix + .container-fluid {
    padding-top: 70px;
}

/*Propiedades de la barra de navegacion*/
.navbar{
    background-color: #343a40;
    display: block;
    text-align: center;
    font-size: 17px;
    font-family: Helvetica , monaco;
    margin: 0px;
}

/*Propiedades del borde del menu*/
.navbar-inverse{
    border: 0px;    
}

/*Boton de menu seleccionado*/
.navbar .nav li.active a{
    background-color: #495057;
    color: white;
}

/*boton de menu cuando el cursor esta encima DEL BOTON SELECCIONADO*/
.navbar .nav li.active a:hover{
    background-color: #ced4da;
    color: black;
}

/*botones del menu por default*/
.navbar .nav li a{
    background-color: #343a40;
    color: white;
}

/*Color de fondo de los botones cuando el cursor esta encima*/
.navbar .nav li:hover{
    background-color: #ced4da;
    color: black;
}

/*Color de fondo del TEXTO cuando el cursor esta encima*/
.navbar .nav li a:hover{
    color:black;
}

div.container-fluid div.well{ 
    height: 50%;
    width: 50%;
    color: black;
    background-color: #febf72;
}.well{
    background-color:white;
    border: white;
}

/* ==========================================================================
   #WELL
   ========================================================================== */

body div div.rectangle{     
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 80%;
    background-color: #6c757d;
    padding: 10px;  
    padding-left: 20px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto ;
    border-radius: 25px ;
    border: 10px;
    filter: drop-shadow(5px 10px 15px #666666)
    
}body div div.rectangle h1{
    margin-top: 5px;
    color: white
}body div div.rectangle p{
    color: white;
}body div div.rectangle img{
    align: right;
    height: 200px;    
    border-radius: 25px;
}

body div div.rectangle div.contactButton{
    display: flex;
    justify-content: flex-end;
}

/* ==========================================================================
   #IMAGEN
   ========================================================================== */

.container {
    display: flex;
    width: 350px;
    height: 200px;
    overflow: hidden;
    margin: 10px;
    position: relative;
}
.container > .crop {
    display: flex;
    position:absolute;
    left: -100%;
    right: -100%;
    top: -100%;
    bottom: -100%;
    margin: auto;
    min-height: 100%;
    min-width: 100%;
}

